@import url('https://fonts.googleapis.com/css?family=Unna');
*{
  box-sizing: border-box;
}
body{
  background: #f2efeb;
  overflow-y: scroll;
  font-family: 'Unna', cursive;
}
.page-wrapper{
  display: flex;
  flex-direction: column-reverse;
  min-height: 95vh;
  justify-content: flex-end;
}
main.home{
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  width: 100%;
}
.img-row{
  display: flex;
  flex-direction: row;
  max-width: 100vw;
  padding: 3vw;
}
/* .img-wrapper{
  flex: 1 1 59.5%;
} */
/* .img-wrapper:first-child{
  margin-right: 3vw;
}
.img-wrapper:last-child{
  flex: 1 1 40.5%
} */
.img-row img{
  max-width: 100%;
  /* border: 1px solid #b9a895; */
}
.img-column{
  display: flex;
  flex-direction: column;
  /* padding: 2vw; */
}
.img-column .img-wrapper{
  width: 100%;
  margin-bottom: -5px;
  /* padding-bottom: 2vw; */
}
.img-column .img-wrapper:last-child{
  padding-bottom: 0px;
}
.img-column .img-wrapper img{
  width: 100%;
}
header{
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3vw;
  /* padding-bottom: 0vh; */
  position: fixed;
  left: 0;
  top: 0;
  width: 40vw;
  height: 100%;
  background: #f2efeb;
  box-shadow: 3px 0px 6px -2px rgba(0,0,0,.3);
  z-index: 9;
  border-right: 1px solid #fff;
}
header .logo-wrapper{
  padding: 4vw;
  padding-top: 0vw;
  display: flex;
  margin-bottom: auto;
}
header .logo{
  /* width: 40vw; */
  width: 100%;
  height: 13vw;
}
.content{
  padding-left: 40vw;
}
.content .inner-wrapper{
  background: #e6e2dd;
  min-height: 100vh;
  position: relative;
}
header nav{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: auto;
  width: 100%;
  text-align: center;
  margin-bottom: auto;
  align-items: center;
}
header nav a{
  font-family: 'Unna', cursive;
  font-size: 29px;
  font-weight: 200;
  /* font-style: italic; */
  margin: 1.7vw;
  color: #514333;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  /* font-weight: 400; */
}
.active-indicator{
  content: "";
  display: inline-block;
  transform: rotate(45deg);
  width: 10px;
  height: 10px;
  border-top: 2px solid #958572;
  border-right: 2px solid #958572;
  position: absolute;
  top: 12px;
  right: -30px;
}
.route-wrapper{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  display: flex;
  color: #22250a;
  will-change: transform, opacity;
}
.openings{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}
.opening-block{
  width: 100%;
  max-width: 400px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Unna', cursive;
  background: #fbf6f0;
  color: #514333;
  border-radius: 4px;
  box-shadow: 0px 3px 3px -3px rgba(0,0,0,0.5);
}
.opening-block .name{
  font-size: 30px;
  font-weight: 600;
  padding: 16px;
  padding-top: 15px;
}
.opening-block a{
  text-decoration: none;
  margin-left: auto;
}
.opening-block .phone{
  font-size: 22px;
  background: #cfd8b5;
  border-bottom: 1px solid #c0c68c;
  border-top: 1px solid #e7eed3;
  color: #22250a;
  height: 100%;
  padding: 20px;
  border-radius: 0px 3px 3px 0px;
  text-decoration: none;
}
.cta-wrapper{
  margin-top: 0px;
}
.cta-wrapper a{
  font-size: 28px;
  text-transform: uppercase;
  padding: 6px 20px;
  border-radius: 24px;
  background: none;
  border: 2px solid #22250a;
  color: #22250a;
  background: #e0dad0;
  border: none;
  color: #756e63;
  font-family: 'Unna', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 1.3vw;
}
.cta-wrapper a:hover{
  background: #d2cbbe;
}
.willow-stroke{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: auto;
  align-self: flex-end;
  opacity: .4;
}
.willow-stroke .willow{
  max-width: 100px;
  min-width: 60px;
  width: 30%;
  z-index: 9;
}
.willow-stroke .stroke{
  position: absolute;
  bottom: 30%;
  left: 0px;
  width: 100%;
  height: 5px;
  /* opacity: .8; */
}
.flex-column{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 30px;
}
.price-wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #cfd8b5;
  border-top: 1px solid #edf4db;
  border-radius: 6px;
  box-shadow: 0px 2px 3px -2px rgba(0,0,0,.4);
  color: #22250a;
  margin-top: 30px;
}
.price-wrapper .months{
  padding: 15px;
  font-size: 42px;
  font-weight: 600;
}
.price-box{
  padding: 15px;
  font-size: 42px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
}
.price-box .caption{
  font-weight: 400;
  font-size: 16px;
  margin-left: 10px;
}
.price-box .dollar{
  font-weight: 400;
  font-size: 26px;
  opacity: .5;
  margin-right: 5px;
}
.amenities{
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.amenities li{
  position: relative;
  list-style: none;
  font-size: 22px;
  text-align: center;
  padding: 5px 15px;;
  border-radius: 4px;
  background: #fbf6f0;
  margin: 10px;
  border-top: 1px solid #efece8;
  box-shadow: 0px 1px 2px -1px rgba(0,0,0,.4);
}
.amenities li::before{
  content: "+";
  color: rgb(121, 152, 68);
  line-height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -8px;
  top: 10px;
  border-radius: 100%;
  width: 15px;
  height: 15px;
  background: #c5d88d;
  border-top: 1px solid #e7f4c3;
  font-size: 18px;
  box-shadow: 0px 1px 2px -1px rgba(0,0,0,.4);
}
.contact .title{
  font-weight: 400;
}
.contact .name{
  font-size: 42px;
  margin: 0px;
  margin-bottom: .4em;
}
.contact .phone, .contact .email{
  margin: 0px;
  font-size: 18px;
}
.contact .phone{
  margin-top: .2em;
}
.contact .email{
  margin-top: .2em;
}
.contact{
  height: 100%;
}
h1.route-title{
  width: 100%;
  text-align: center;
  font-size: 40px;
  margin: 0px;
  color: #9c8f83;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 10px;
  font-weight: 400;
}
h1.route-title .title-image-wrapper{
  opacity: .5;
}
h1.route-title img.stroke{
  opacity: .5;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
}
h1.route-title img.willow{
  position: absolute;
  left: calc(50% - 30px);
  bottom: -9px;
  width: 60px;
  z-index: 5;
}
.opening-title.opening-title{
  margin-bottom: 40px;
}
.shade{
  position: fixed;

}
@media (max-width: 900px){
  body{
    background: #e6e2dd;
  }
  header{
    display: none;
  }
  .content{
    padding: 0px;
  }
  .route-wrapper{
    padding-bottom: 15vh;
  }
  footer{
    position: absolute;
    bottom: 5vh;
    left: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  footer .willow-stroke{
    opacity: .4;
    width: 90%;
  }
  footer .willow-stroke .willow{
    width: 40px;
  }
  .route-wrapper{
    /* min-height: 70vh; */
    /* position: relative; */
  }
  .content .inner-wrapper.inner-wrapper{
    min-height: auto;
  }
  .flex-column{
    padding-bottom: 0px;
  }
  .opening-block .name{
    font-size: 20px;
  }
  .opening-block .phone{
    font-size: 18px;
    padding: 15px;
    padding-bottom: 16px;
  }
  .price-wrapper .months{
    font-size: 32px;
  }
  .price-wrapper .price-box{
    font-size: 32px;
  }
}
.mobile-header{
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #f2efeb;
  box-shadow: 0px 3px 6px -2px rgba(0,0,0,.3);
}
.mobile-header img{
  max-width: 300px;
  margin-bottom: 15px;
}
.mobile-header nav{
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.link-row{
  display: flex;
}
.link-row:first-of-type{
  margin-bottom: 10px;
}
.mobile-header nav .separator{
  color: #22250a;
}
.mobile-header nav a{
  color: #22250a;
  margin: 0px 5px;
  text-decoration: none;
  opacity: .7;
  white-space: nowrap;
}
.mobile-header nav a.active{
  opacity: 1;
}
